# Homework 1
UIC CS 418, Spring 2025

**Academic Integrity Policy**: According to the Academic Integrity Policy of this course, all work submitted for grading must be done individually, unless otherwise specified. While we encourage you to talk to your peers and learn from them, this interaction must be superficial with regards to all work submitted for grading. This means you cannot work in teams, you cannot work side-by-side, you cannot submit someone elseâ€™s work (partial or complete) as your own. In particular, note that you are guilty of academic dishonesty if you extend or receive any kind of unauthorized assistance. Absolutely no transfer of program code between students is permitted (paper or electronic), and you may not solicit code from family, friends, or online forums. Other examples of academic dishonesty include emailing your program to another student, copying-pasting code from the internet, working in a group on a homework assignment, and allowing a tutor, TA, or another individual to write an answer for you. Academic dishonesty is unacceptable, and penalties range from failure to expulsion from the university; cases are handled via the official student conduct process described at https://dos.uic.edu/community-standards/


**Submission**: After executing all commands and completing this notebook, export/convert your *hw1.ipynb* to a **pdf** file and upload it to Gradescope under *Homework 1 (pdf)*. Make sure you check that your **pdf** file includes all parts of your solution **(including the outputs)**. Check `warmup.pdf` for an example of expected submission file. You are also reqired to submit your **.iypnb** file to the *Homework 1 (code)* section with all the output visibile in the output cells.

**Note** : Please fill the code instead of "blabla" (its just written as filler)

## Only RUN below cell if you are using google colab
If you are using Google Colab, you will have to mount your drive. Run the below code to mount.
### DO NOT RUN THIS CODE IF YOU ARE NOT USING GOOGLE COLAB

In [834]:
# this just shows the current directory
!pwd

/Users/tnithish/Documents/UIC/CS-418/CS-418-home-works/CS418_Spring2025_HW1

In [835]:
# from google.colab import drive
# drive.mount('/content/drive')

In [836]:
# STEP1: upload the folder on your google drive
# Step2: Find the URL - it will look something like below - Now we set the working directory to the folder
# %cd "/content/drive/MyDrive/CS418_Spring2025_HW1"
# !pwd

# this should look like this: '/content/drive/MyDrive/CS418_Spring2025_HW1'

## Part 1: Data processing with pandas (50%)

In this section, you will see examples of some commonly used data wrangling tools in Python. In particular, we aim to give you some familiarity with:

* Slicing data frames
* Filtering data
* Grouped counts
* Joining two tables
* NA/Null values


### Practice: Pandas and Wrangling (5%)

This part of the homework is graded manually based on showing the correct outputs after executing each step.

You need to execute each step (run each Cell), in order for the next ones to work.

For the examples that follow, we will be using a toy data set containing information about superheroes in the Arrowverse.  In the `first_seen_on` column, `a` stands for Archer and `f`, Flash.


First, import necessary libraries:

In [837]:
import pandas as pd
import numpy as np

#### Setup

The code below produces the data frames used in the examples:

In [838]:
heroes = pd.DataFrame(
    data={'color': ['red', 'green', 'black',
                    'blue', 'black', 'red'],
          'first_seen_on': ['a', 'a', 'f', 'a', 'a', 'f'],
          'first_season': [2, 1, 2, 3, 3, 1]},
    index=['flash', 'arrow', 'vibe',
           'atom', 'canary', 'firestorm']
)

identities = pd.DataFrame(
    data={'ego': ['barry allen', 'oliver queen', 'cisco ramon',
                  'ray palmer', 'sara lance',
                  'martin stein', 'ronnie raymond'],
          'alter-ego': ['flash', 'arrow', 'vibe', 'atom',
                        'canary', 'firestorm', 'firestorm']}
)

teams = pd.DataFrame(
    data={'team': ['flash', 'arrow', 'flash', 'legends',
                   'flash', 'legends', 'arrow'],
          'hero': ['flash', 'arrow', 'vibe', 'atom',
                   'killer frost', 'firestorm', 'speedy']})

In [839]:
heroes

           color first_seen_on  first_season
flash        red             a             2
arrow      green             a             1
vibe       black             f             2
atom        blue             a             3
canary     black             a             3
firestorm    red             f             1

In [840]:
identities

              ego  alter-ego
0     barry allen      flash
1    oliver queen      arrow
2     cisco ramon       vibe
3      ray palmer       atom
4      sara lance     canary
5    martin stein  firestorm
6  ronnie raymond  firestorm

In [841]:
teams

      team          hero
0    flash         flash
1    arrow         arrow
2    flash          vibe
3  legends          atom
4    flash  killer frost
5  legends     firestorm
6    arrow        speedy

#### Slice and Dice

##### Column selection by label
To select a column of a `DataFrame` by column label, the safest and fastest way is to use the `.loc` method. General usage looks like `frame.loc[rowname,colname]`. (Reminder that the colon `:` means "everything").  For example, if we want the `color` column of the `heroes` data frame, we would use :

In [842]:
heroes.loc[:,'color']

flash          red
arrow        green
vibe         black
atom          blue
canary       black
firestorm      red
Name: color, dtype: object

The above output can also be got in dataframe format instead of series

In [843]:
heroes.loc[:,['color']]

           color
flash        red
arrow      green
vibe       black
atom        blue
canary     black
firestorm    red

Another way of doing the above is shown below. The below method creates a boolean mask

In [844]:
heroes.loc[:, heroes.columns=='color']

           color
flash        red
arrow      green
vibe       black
atom        blue
canary     black
firestorm    red

Selecting multiple columns is easy. You just need to supply a list of column names. Here we select the color and value columns:

In [845]:
heroes.loc[:, ['color', 'first_season']]

           color  first_season
flash        red             2
arrow      green             1
vibe       black             2
atom        blue             3
canary     black             3
firestorm    red             1

While .loc is invaluable when writing production code, it may be a little too verbose for interactive use. One recommended alternative is the [] method, which takes on the form frame['colname'].

In [846]:
heroes['first_seen_on']

flash        a
arrow        a
vibe         f
atom         a
canary       a
firestorm    f
Name: first_seen_on, dtype: object

##### Row Selection by Label

Similarly, if we want to select a row by its label, we can use the same .loc method.

In [847]:
heroes.loc[['flash', 'vibe'], :]

       color first_seen_on  first_season
flash    red             a             2
vibe   black             f             2

If we want all the columns returned, we can, for brevity, drop the colon without issue.

In [848]:
heroes.loc[['flash', 'vibe']]

       color first_seen_on  first_season
flash    red             a             2
vibe   black             f             2

##### General Selection by Label

More generally you can slice across both rows and columns at the same time.  For example:

In [849]:
heroes.loc['flash':'atom', :'first_seen_on']

       color first_seen_on
flash    red             a
arrow  green             a
vibe   black             f
atom    blue             a

##### Selection by Integer Index

If you want to select rows and columns by position, the Data Frame has an analogous `.iloc` method for integer indexing. Remember that Python indexing starts at 0.

In [850]:
heroes.iloc[:4,:2]

       color first_seen_on
flash    red             a
arrow  green             a
vibe   black             f
atom    blue             a

#### Filtering with boolean arrays

Filtering is the process of removing unwanted material.  In your quest for cleaner data, you will undoubtedly filter your data at some point: whether it be for clearing up cases with missing values, culling out fishy outliers, or analyzing subgroups of your data set.  For example, we may be interested in characters that debuted in season 3 of Archer.  Note that compound expressions have to be grouped with parentheses.

In [851]:
heroes[(heroes['first_season']==3) & (heroes['first_seen_on']=='a')]

        color first_seen_on  first_season
atom     blue             a             3
canary  black             a             3

#### Problem Solving Strategy

We want to highlight the strategy for filtering to answer the question above:

* **Identify the variables of interest**
    * Interested in the debut: `first_season` and `first_seen_on`
* **Translate the question into statements one with True/False answers**
    * Did the hero debut on Archer? $\rightarrow$ The hero has `first_seen_on` equal to `a`
    * Did the hero debut in season 3? $\rightarrow$ The hero has `first_season` equal to `3`
* **Translate the statements into boolean statements**
    * The hero has `first_seen_on` equal to `a` $\rightarrow$ `hero['first_seen_on']=='a'`
    * The hero has `first_season` equal to `3` $\rightarrow$ `heroes['first_season']==3`
* **Use the boolean array to filter the data**

Note that compound expressions have to be grouped with parentheses.

For your reference, some commonly used comparison operators are given below.

Symbol | Usage      | Meaning
------ | ---------- | -------------------------------------
==   | a == b   | Does a equal b?
<=   | a <= b   | Is a less than or equal to b?
>=   | a >= b   | Is a greater than or equal to b?
<    | a < b    | Is a less than b?
&#62;    | a &#62; b    | Is a greater than b?
~    | ~p       | Returns negation of p
&#124; | p &#124; q | p OR q
&    | p & q    | p AND q
^  | p ^ q | p XOR q (exclusive or)

An often-used operation missing from the above table is a test-of-membership.  The `Series.isin(values)` method returns a boolean array denoting whether each element of `Series` is in `values`.  We can then use the array to subset our data frame. For example, if we wanted to see which rows of `heroes` had values in $\{1,3\}$, we would use:

In [852]:
heroes[heroes['first_season'].isin([1,3])]

           color first_seen_on  first_season
arrow      green             a             1
atom        blue             a             3
canary     black             a             3
firestorm    red             f             1

Notice that in both examples above, the expression in the brackets evaluates to a boolean series.  The general strategy for filtering data frames, then, is to write an expression of the form `frame[logical statement]`.

#### Counting Rows

To count the number of instances of a value in a `Series`, we can use the `value_counts` method.  Below we count the number of instances of each color.

In [853]:
heroes['color'].value_counts()

color
red      2
black    2
green    1
blue     1
Name: count, dtype: int64

A more sophisticated analysis might involve counting the number of instances a tuple appears.  Here we count $(color,value)$ tuples.

In [854]:
heroes.groupby(['color', 'first_season']).size()

color  first_season
black  2               1
       3               1
blue   3               1
green  1               1
red    1               1
       2               1
dtype: int64

This returns a series that has been multi-indexed.  We'll eschew this topic for now.  To get a data frame back, we'll use the `reset_index` method, which also allows us to simulataneously name the new column.

In [855]:
heroes.groupby(['color', 'first_season']).size().reset_index(name='count')

   color  first_season  count
0  black             2      1
1  black             3      1
2   blue             3      1
3  green             1      1
4    red             1      1
5    red             2      1

#### Joining Tables on One Column

Suppose we have another table that classifies superheroes into their respective teams.  Note that `canary` is not in this data set and that `killer frost` and `speedy` are additions that aren't in the original `heroes` set.

For simplicity of the example, we'll convert the index of the `heroes` data frame into an explicit column called `hero`.  A careful examination of the [documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html) will reveal that joining on a mixture of the index and columns is possible.

In [856]:
heroes['hero'] = heroes.index
heroes

           color first_seen_on  first_season       hero
flash        red             a             2      flash
arrow      green             a             1      arrow
vibe       black             f             2       vibe
atom        blue             a             3       atom
canary     black             a             3     canary
firestorm    red             f             1  firestorm

##### Inner Join

The inner join below returns rows representing the heroes that appear in both data frames.

In [857]:
pd.merge(heroes, teams, how='inner', on='hero')

   color first_seen_on  first_season       hero     team
0    red             a             2      flash    flash
1  green             a             1      arrow    arrow
2  black             f             2       vibe    flash
3   blue             a             3       atom  legends
4    red             f             1  firestorm  legends

##### Left and right join
The left join returns rows representing heroes in the `heroes` ("left") data frame, augmented by information found in the `teams` data frame.  Its counterpart, the right join, would return heroes in the `teams` data frame.  Note that the `team` for hero `canary` is an `NaN` value, representing missing data.

In [858]:
pd.merge(heroes, teams, how='left', on='hero')

   color first_seen_on  first_season       hero     team
0    red             a             2      flash    flash
1  green             a             1      arrow    arrow
2  black             f             2       vibe    flash
3   blue             a             3       atom  legends
4  black             a             3     canary      NaN
5    red             f             1  firestorm  legends

##### Outer join

An outer join on `hero` will return all heroes found in both the left and right data frames.  Any missing values are filled in with `NaN`.

In [859]:
pd.merge(heroes, teams, how='outer', on='hero')

   color first_seen_on  first_season          hero     team
0  green             a           1.0         arrow    arrow
1   blue             a           3.0          atom  legends
2  black             a           3.0        canary      NaN
3    red             f           1.0     firestorm  legends
4    red             a           2.0         flash    flash
5    NaN           NaN           NaN  killer frost    flash
6    NaN           NaN           NaN        speedy    arrow
7  black             f           2.0          vibe    flash

##### More than one match?

If the values in the columns to be matched don't uniquely identify a row, then a cartesian product is formed in the merge.  For example, notice that `firestorm` has two different egos, so information from `heroes` had to be duplicated in the merge, once for each ego.

In [860]:
pd.merge(heroes, identities, how='inner',
         left_on='hero', right_on='alter-ego')

   color first_seen_on  first_season       hero             ego  alter-ego
0    red             a             2      flash     barry allen      flash
1  green             a             1      arrow    oliver queen      arrow
2  black             f             2       vibe     cisco ramon       vibe
3   blue             a             3       atom      ray palmer       atom
4  black             a             3     canary      sara lance     canary
5    red             f             1  firestorm    martin stein  firestorm
6    red             f             1  firestorm  ronnie raymond  firestorm

#### Missing Values

There are a multitude of reasons why a data set might have missing values.  The current implementation of Pandas uses the numpy NaN to represent these null values (older implementations even used `-inf` and `inf`).  Future versions of Pandas might implement a true `null` value---keep your eyes peeled for this in updates!  More information can be found [http://pandas.pydata.org/pandas-docs/stable/user_guide/missing_data.html](http://pandas.pydata.org/pandas-docs/stable/user_guide/missing_data.html)

Because of the specialness of missing values, they merit their own set of tools.  Here, we will focus on detection.  For replacement, see the docs.

In [861]:
x = np.nan
y = pd.merge(heroes, teams, how='outer', on='hero')['first_season']
y

0    1.0
1    3.0
2    3.0
3    1.0
4    2.0
5    NaN
6    NaN
7    2.0
Name: first_season, dtype: float64

To check if a value is null, we use the `isnull()` method for series and data frames.  Alternatively, there is a `pd.isnull()` function as well.

In [ ]:
x.isnull() # won't work since x is neither a series nor a data frame

In [863]:
pd.isnull(x)

True

In [864]:
y.isnull()

0    False
1    False
2    False
3    False
4    False
5     True
6     True
7    False
Name: first_season, dtype: bool

In [865]:
pd.isnull(y)

0    False
1    False
2    False
3    False
4    False
5     True
6     True
7    False
Name: first_season, dtype: bool

Since filtering out missing data is such a common operation, Pandas also has conveniently included the analogous `notnull()` methods and function for improved human readability.

In [866]:
y.notnull()

0     True
1     True
2     True
3     True
4     True
5    False
6    False
7     True
Name: first_season, dtype: bool

In [867]:
y[y.notnull()]

0    1.0
1    3.0
2    3.0
3    1.0
4    2.0
7    2.0
Name: first_season, dtype: float64

### Questions (45%)

The practice problems below use the department of transportation's "On-Time" flight data for all flights originating from SFO or OAK in January 2016. Information about the airports and airlines are contained in the comma-delimited files `airports.dat` and `airlines.dat`, respectively.  Both were sourced from https://openflights.org/data.php

Disclaimer: There is a more direct way of dealing with time data that is not presented in these problems.  This activity is merely an academic exercise.

#### Setup
Run the below cells to set up the tables flights and airports

In [868]:
flights = pd.read_csv("flights.dat", dtype={'sched_dep_time': 'f8', 'sched_arr_time': 'f8'})
# show the first few rows, by default 5
flights.head(3)

,year,month,day,date,carrier,tailnum,flight,origin,destination,sched_dep_time,actual_dep_time,sched_arr_time,actual_arr_time
0,2016,1,1,2016-01-01,AA,N3FLAA,208,SFO,MIA,630.0,628.0,1458.0,1431.0
1,2016,1,2,2016-01-02,AA,N3APAA,208,SFO,MIA,600.0,553.0,1428.0,1401.0
2,2016,1,3,2016-01-03,AA,N3DNAA,208,SFO,MIA,630.0,626.0,1458.0,1431.0

In [869]:
flights.describe()

,year,month,day,flight,sched_dep_time,actual_dep_time,sched_arr_time,actual_arr_time
count,16861.0,16861.0,16861.000000,16861.000000,16861.000000,16399.000000,16861.000000,16365.000000
mean,2016.0,1.0,15.781033,2100.205978,1333.387818,1334.757851,1518.619773,1509.387779
std,0.0,0.0,8.978231,2036.303273,503.163806,518.007117,529.272153,548.227990
min,2016.0,1.0,1.000000,1.000000,5.000000,2.000000,2.000000,1.000000
25%,2016.0,1.0,8.000000,506.000000,915.000000,915.000000,1150.000000,1141.000000
50%,2016.0,1.0,16.000000,1372.000000,1300.000000,1309.000000,1600.000000,1558.000000
75%,2016.0,1.0,24.000000,2771.000000,1725.000000,1736.000000,1945.000000,1948.000000
max,2016.0,1.0,31.000000,6845.000000,2359.000000,2400.000000,2359.000000,2400.000000

In [870]:
airports_cols = [
    'openflights_id',
    'name',
    'city',
    'country',
    'iata',
    'icao',
    'latitude',
    'longitude',
    'altitude',
    'tz',
    'dst',
    'tz_olson',
    'type',
    'airport_dsource'
]

airports = pd.read_csv("airports.dat", names=airports_cols)
airports.head(3)

,openflights_id,name,city,country,iata,icao,latitude,longitude,altitude,tz,dst,tz_olson,type,airport_dsource
0,1,Goroka,Goroka,Papua New Guinea,GKA,AYGA,-6.081689,145.391881,5282,10.0,U,Pacific/Port_Moresby,NaN,NaN
1,2,Madang,Madang,Papua New Guinea,MAG,AYMD,-5.207083,145.788700,20,10.0,U,Pacific/Port_Moresby,NaN,NaN
2,3,Mount Hagen,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826789,144.295861,5388,10.0,U,Pacific/Port_Moresby,NaN,NaN

#### Question 1.1 (15%)
Lets practice some pandas commands in this sections.

(5%) In the 'flights' table, display unique values present in columns - 'carrier', 'origin', 'destination'

In [871]:
#Code - write one line code to display unique values in column 'carrier'
# write here
out = flights['carrier'].unique()


# testing the code < do not change code below>
print(len(out))
display(out)

11

array(['AA', 'AS', 'B6', 'DL', 'F9', 'HA', 'NK', 'OO', 'UA', 'VX', 'WN'],
      dtype=object)

In [872]:
#Code - write one line code to display unique values in column 'origin'
# write here
out = flights['origin'].unique()


# testing the code < do not change code below>
print(len(out))
display(out)

2

array(['SFO', 'OAK'], dtype=object)

In [873]:
#Code - write one line code to display unique values in column 'destination'
# write here
out = flights['destination'].unique()


# testing the code <do not change code below>
print(len(out))
display(out)

79

array(['MIA', 'LAX', 'JFK', 'DFW', 'ORD', 'PHL', 'PHX', 'CLT', 'KOA',
       'SEA', 'PDX', 'PSP', 'SLC', 'OGG', 'HNL', 'LIH', 'BOS', 'FLL',
       'LGB', 'LAS', 'DTW', 'ATL', 'MSP', 'IAH', 'DEN', 'EUG', 'BOI',
       'BUR', 'SMX', 'SAN', 'ACV', 'ASE', 'MRY', 'STL', 'SBA', 'SMF',
       'JAC', 'SAT', 'XNA', 'AUS', 'MTJ', 'MFR', 'MCI', 'MMH', 'OKC',
       'ONT', 'FAT', 'PSC', 'RDM', 'SBP', 'RNO', 'BFL', 'BZN', 'TUS',
       'SNA', 'HDN', 'SUN', 'ABQ', 'EWR', 'MCO', 'MSY', 'IAD', 'IND',
       'DCA', 'RDU', 'CLE', 'RDD', 'OTH', 'BWI', 'PIT', 'ANC', 'DAL',
       'MDW', 'MKE', 'BNA', 'CMH', 'GEG', 'HOU', 'CVG'], dtype=object)

(5%) Display list of all flights with "SFO" as origin and "JFK" as destination run by the carrier "DL" . Only display columns - "origin", "destination" "carrier" and "sched_dep_time"

In [874]:
# write your code here
out = flights[(flights["origin"] == "SFO") & (flights["destination"] == "JFK") & (flights["carrier"] == "DL")][["origin", "destination", "carrier", "sched_dep_time"]]

# display
out

#display output like this to get full credit (179 rows):
#     origin	destination	carrier	sched_dep_time
# 2473 SFO     JFK          DL      2145.0
# 2478 SFO      JFK         DL      615.0
# 2479 SFO      JFK         DL      1415.0

      origin destination carrier  sched_dep_time
2473     SFO         JFK      DL          2145.0
2478     SFO         JFK      DL           615.0
2479     SFO         JFK      DL          1415.0
2480     SFO         JFK      DL           800.0
2502     SFO         JFK      DL          1415.0
...      ...         ...     ...             ...
16783    SFO         JFK      DL          1600.0
16787    SFO         JFK      DL          2148.0
16791    SFO         JFK      DL          2148.0
16812    SFO         JFK      DL           625.0
16813    SFO         JFK      DL           830.0

[179 rows x 4 columns]

(5%) - AGGREGATION - Find the total number of flights run by each carrier. Sort the list in descending order of number of flights. Just display numeric index,  carrier and number of flights. Hint: check documentationf for: groupby , sort_values, reset_index

Note: Store the group in "out" variable .

In [875]:
def display_carrier_counts(flights):
  ''' Use grouby to group the data for various carriers.
  Later, create a 'count' column in the new table.
  Sort and reset index.
  Only display carrier and count'''
  # write your code below =======
  out = flights.groupby("carrier").size().reset_index(name="count").sort_values(by="count", ascending=False).reset_index(drop=True)


  ##======= Do not write below this === # return out should remain for full credit
  return out

# Display in below format for full credit
#       carrier   count
#  0    WN        4169
#  1    UA        3687

out = display_carrier_counts(flights)
out

   carrier  count
0       WN   4169
1       UA   3687
2       OO   3325
3       VX   1548
4       AA   1338
5       DL   1073
6       AS    615
7       B6    610
8       F9    186
9       NK    186
10      HA    124

In [876]:
# Test code - RUN this code to get full credit
# test code: Note that the sum of values should be equal to the lenght of flights table
out["count"].sum()
# 16861

np.int64(16861)

#### Question 1.2 **(10%)**
It looks like the departure and arrival in `flights` were read in as floating-point numbers.  Write two functions, `extract_hour` and `extract_mins` that converts military time to hours and minutes, respectively. Hint: You may want to use modular arithmetic and integer division. Keep in mind that the data has not been cleaned and you need to check whether the extracted values are valid. Replace all the invalid values with `NaN`. The documentation for `pandas.Series.where` provided [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.where.html) should be helpful.

In [877]:
def extract_hour(time):
    """
    Extracts hour information from military time.

    Args:
        time (float64): series of time given in military format.
          Takes on values in 0.0-2359.0 due to float64 representation.

    Returns:
        array (float64): series of input dimension with hour information.
          Should only take on integer values in 0-23
    """
    li = []

    for t in time:
        if (t <2400) and (t >=0):
            li.append(int(t)//100)
        else:
            li.append(np.nan)
    
    # return pd.Series(li, dtype='float64')
    hour = pd.Series(
        np.where((time >= 0) & (time < 2400), time // 100, np.nan),
        dtype='float64'
    )

    return hour

# test your code to receive credit
test_ser = pd.Series([1030.0, 1259.0, np.nan, 2475], dtype='float64')
extract_hour(test_ser)

# 0    10.0
# 1    12.0
# 2     NaN
# 3     NaN
# dtype: float64

0    10.0
1    12.0
2     NaN
3     NaN
dtype: float64

In [878]:
def extract_mins(time):
    """
    Extracts minute information from military time

    Args:
        time (float64): series of time given in military format.
          Takes on values in 0.0-2359.0 due to float64 representation.

    Returns:
        array (float64): series of input dimension with minute information.
          Should only take on integer values in 0-59
    """
    # [YOUR CODE HERE]
    mins = pd.Series(
        np.where((time >= 0) & (time < 2400), time % 100, np.nan),
        dtype='float64'
    )
    return mins


# test your code to receive credit
test_ser = pd.Series([1030.0, 1259.0, np.nan, 2475], dtype='float64')
extract_mins(test_ser)

# 0    30.0
# 1    59.0
# 2     NaN
# 3     NaN
# dtype: float64

0    30.0
1    59.0
2     NaN
3     NaN
dtype: float64

#### Question 1.3 **(15%)**

Using your two functions above, filter the `flights` data for flights that departed 20 or more minutes later than scheduled by comparing `sched_dep_time` and `actual_dep_time`.  You need not worry about flights that were delayed to the next day for this question.

In [879]:
def convert_to_minofday(time):
    """
    Converts military time to minute of day

    Args:
        time (float64): series of time given in military format.
          Takes on values in 0.0-2359.0 due to float64 representation.

    Returns:
        array (float64): series of input dimension with minute of day

    Example: 1:03pm is converted to 783.0
    """
    
    li = []

    for t in time:
        if (t <2400) and (t >=0):
            min = int(t)%100
            hour = int(t)//100
            val = hour*60 + min
            li.append(val)
        else:
            li.append(np.nan)
    return pd.Series(li, dtype='float64')

# Test your code  to receive credit
ser = pd.Series([1303, 1200, 2400], dtype='float64')
convert_to_minofday(ser)

# 0    783.0
# 1    720.0
# 2      NaN
# dtype: float64

0    783.0
1    720.0
2      NaN
dtype: float64

In [880]:
def calc_time_diff(x, y):
    """
    Calculates delay times y - x

    Args:
        x (float64): series of scheduled time given in military format.
          Takes on values in 0.0-2359.0 due to float64 representation.
        y (float64): series of same dimensions giving actual time

    Returns:
        array (float64): series of input dimension with delay time
    """
    arrival = convert_to_minofday(x)
    departure = convert_to_minofday(y)
    
    li = []

    for t1, t2 in zip(arrival, departure):
        if (t1 <= 1440) and (t2 <= 1440):
            li.append(t2-t1)
        else:
            li.append(np.nan)
    return pd.Series(li, dtype='float64')

#Test your code  to receive credit
sched = pd.Series([1303, 1210], dtype='float64')
actual = pd.Series([1304, 1215], dtype='float64')
calc_time_diff(sched, actual)

# 0    1.0
# 1    5.0
# dtype: float64

0    1.0
1    5.0
dtype: float64

In [881]:
flights.head(3)

,year,month,day,date,carrier,tailnum,flight,origin,destination,sched_dep_time,actual_dep_time,sched_arr_time,actual_arr_time
0,2016,1,1,2016-01-01,AA,N3FLAA,208,SFO,MIA,630.0,628.0,1458.0,1431.0
1,2016,1,2,2016-01-02,AA,N3APAA,208,SFO,MIA,600.0,553.0,1428.0,1401.0
2,2016,1,3,2016-01-03,AA,N3DNAA,208,SFO,MIA,630.0,626.0,1458.0,1431.0

In [882]:
### Apply your functions here to calculate delay between `sched_dep_time` and `actual_dep_time` on flights, to receive credit.
# [YOUR CODE HERE]
# delay = (flights["actual_dep_time"] - flights["sched_dep_time"]).astype("float64") # Series object showing delay time
delay = calc_time_diff(flights["sched_dep_time"], flights["actual_dep_time"])
delay

0         -2.0
1         -7.0
2         -4.0
3         -4.0
4         -8.0
         ...
16856     56.0
16857     74.0
16858    196.0
16859    169.0
16860    137.0
Length: 16861, dtype: float64

In [883]:
#flights delayed more than 20mins
# Code here
delayed20 = flights[delay > 20] # Series object showing delay time
delayed20

,year,month,day,date,carrier,tailnum,flight,origin,destination,sched_dep_time,actual_dep_time,sched_arr_time,actual_arr_time
15,2016,1,16,2016-01-16,AA,N3GAAA,208,SFO,MIA,640.0,723.0,1458.0,1534.0
19,2016,1,20,2016-01-20,AA,N3BBAA,208,SFO,MIA,640.0,726.0,1458.0,1532.0
22,2016,1,23,2016-01-23,AA,N3BBAA,208,SFO,MIA,640.0,901.0,1458.0,1749.0
35,2016,1,6,2016-01-06,AA,N3FPAA,209,SFO,LAX,2035.0,2105.0,2208.0,2257.0
39,2016,1,10,2016-01-10,AA,N3CAAA,209,SFO,LAX,2035.0,2116.0,2208.0,2238.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16856,2016,1,3,2016-01-03,F9,N211FR,1248,SFO,ORD,1245.0,1341.0,1900.0,1959.0
16857,2016,1,3,2016-01-03,F9,N232FR,654,SFO,DEN,1130.0,1244.0,1505.0,1613.0
16858,2016,1,3,2016-01-03,F9,N910FR,662,SFO,DEN,1740.0,2056.0,2116.0,22.0
16859,2016,1,3,2016-01-03,F9,N921FR,668,SFO,DEN,2000.0,2249.0,2330.0,226.0
16860,2016,1,3,2016-01-03,F9,N921FR,1360,SFO,PHX,1430.0,1647.0,1727.0,1937.0

#### Question 1.4 **(5%)**

Using your answer from question 1.3, find the full name of every destination city with a flight from SFO or OAK that was delayed by 60 or more minutes.  The airport codes used in `flights` are IATA codes.  Sort the cities alphabetically. Make sure you remove duplicates. (You may find `drop_duplicates` and `sort_values` helpful.)

In [884]:
# Complete code here to receive credit.
# HINT: You will need to use `delay` and `airport` dataframes
# [YOUR CODE HERE]
delayed_flights = flights[
    (flights["origin"].isin(["SFO", "OAK"])) & 
    (delay >= 60)
]
delayed_destinations_iata = delayed_flights["destination"].drop_duplicates()
delayed_airports = airports[airports["iata"].isin(delayed_destinations_iata)] # Dataframe showing airports that satisfy above conditions
delayed_destinations = delayed_airports['city'].drop_duplicates().sort_values().reset_index(drop=True)
 # Unique and sorted destination cities
delayed_destinations

0     Albuquerque
1       Anchorage
2       Arcata CA
3           Aspen
4         Atlanta
         ...
65        Seattle
66        Spokane
67      St. Louis
68         Tucson
69     Washington
Name: city, Length: 70, dtype: object

## Part 2: Web scraping and data collection (50%)

### Note and Setup

Here, you will practice collecting and processing data in Python. By the end of this exercise hopefully you should look at the wonderful world wide web without fear, comforted by the fact that anything you can see with your human eyes, a computer can see with its computer eyes. In particular, we aim to give you some familiarity with:

* Using HTTP to fetch the content of a website
* HTTP Requests (and lifecycle)
* RESTful APIs
    * Authentication (OAuth)
    * Pagination
    * Rate limiting
* JSON vs. HTML (and how to parse each)
* HTML traversal (CSS selectors)

Since everyone loves food (presumably), the ultimate end goal of this homework will be to acquire the data to answer some questions and hypotheses about the restaurant scene in Chicago (which we will get to later). We will download __both__ the metadata on restaurants in Chicago from the Yelp API and with this metadata, retrieve the comments/reviews and ratings from users on restaurants.

**Library Documentation:**

For solving this part, you need to look up online documentation for the Python packages you will use:

* Standard Library:
    * [io](https://docs.python.org/3/library/io.html)
    * [time](https://docs.python.org/3/library/time.html)
    * [json](https://docs.python.org/3/library/json.html)

* Third Party
    * [requests](https://requests.readthedocs.io/en/latest/)
    * [Beautiful Soup (version 4)](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
    * [yelp-fusion](https://docs.developer.yelp.com/docs/fusion-intro)

**Note:** You may come across a `yelp-python` library online. The library is deprecated and incompatible with the current Yelp API, so do not use the library.

First, import necessary libraries:

In [885]:
import io, time, json
import requests
from bs4 import BeautifulSoup

### Authentication and working with APIs



There are various authentication schemes that APIs use, listed here in relative order of complexity:

* No authentication
* [HTTP basic authentication](https://en.wikipedia.org/wiki/Basic_access_authentication)
* Cookie based user login
* OAuth (v1.0 & v2.0, see this [post](http://stackoverflow.com/questions/4113934/how-is-oauth-2-different-from-oauth-1) explaining the differences)
* API keys
* Custom Authentication

For the NYT example below (**Q2.1**), since it is a publicly visible page we did not need to authenticate. HTTP basic authentication isn't too common for consumer sites/applications that have the concept of user accounts (like Facebook, LinkedIn, Twitter, etc.) but is simple to setup quickly and you often encounter it on with individual password protected pages/sites.

Cookie based user login is what the majority of services use when you login with a browser (i.e. username and password). Once you sign in to a service like Facebook, the response stores a cookie in your browser to remember that you have logged in (HTTP is stateless). Each subsequent request to the same domain (i.e. any page on `facebook.com`) also sends the cookie that contains the authentication information to remind Facebook's servers that you have already logged in.

Many REST APIs however use OAuth (authentication using tokens) which can be thought of a programmatic way to "login" _another_ user. Using tokens, a user (or application) only needs to send the login credentials once in the initial authentication and as a response from the server gets a special signed token. This signed token is then sent in future requests to the server (in place of the user credentials).

A similar concept common used by many APIs is to assign API Keys to each client that needs access to server resources. The client must then pass the API Key along with _every_ request it makes to the API to authenticate. This is because the server is typically relatively stateless and does not maintain a session between subsequent calls from the same client. Most APIs (including Yelp) allow you to pass the API Key via a special HTTP Header: `Authorization: Bearer <API_KEY>`. Check out the [docs](https://docs.developer.yelp.com/docs/fusion-authentication) for more information.

### Question 2.1: Basic HTTP Requests w/o authentication **(5%)**

First, let's do the "hello world" of making web requests with Python to get a sense for how to programmatically access web pages: an (unauthenticated) HTTP GET to download a web page.

Fill in the funtion to use `requests` to download and return the raw HTML content of the URL passed in as an argument. As an example try the following NYT article (on Youtube's algorithmic recommendation): [https://www.nytimes.com/2019/03/29/technology/youtube-online-extremism.html](https://www.nytimes.com/2019/03/29/technology/youtube-online-extremism.html)

Your function should return a tuple of: (`<status_code>`, `<text>`). (Hint: look at the **Library documentation** listed earlier to see how `requests` should work.)

In [886]:
def retrieve_html(url):
    """
    Return the raw HTML at the specified URL.

    Args:
        url (string):

    Returns:
        status_code (integer):
        raw_html (string): the raw HTML content of the response, properly encoded according to the HTTP headers.
    """

    # [YOUR CODE HERE]
    r = requests.get(url)
    status_code = r.status_code
    text = r.text

    return status_code, text

In [901]:
%%capture
#  test your function here to receive credit
test = retrieve_html('https://martinheinz.dev/blog/31')
print(test)
# (200, '<!DOCTYPE html>\n<html > )

Now while this example might have been fun, we haven't yet done anything more than we could with a web browser. To really see the power of programmatically making web requests we will need to interact with an API. For the rest of this lab we will be working with the [Yelp API](https://docs.developer.yelp.com/docs/fusion-intro) and Yelp data (for an extensive data dump see their [Academic Dataset Challenge](https://business.yelp.com/data/resources/open-dataset/)).

### Yelp API Access

The reasons for using the Yelp API are 3 fold:

1. Incredibly rich dataset that combines:
    * entity data (users and businesses)
    * preferences (i.e. ratings)
    * geographic data (business location and check-ins)
    * temporal data
    * text in the form of reviews
    * and even images.
2. Well [documented API](https://docs.developer.yelp.com/docs/fusion-intro) with thorough examples.
3. Extensive data coverage so that you can find data that you know personally (from your home town/city or account). This will help with understanding and interpreting your results.

Yelp used to use OAuth tokens but has now switched to API Keys. **For the sake of backwards compatibility Yelp still provides a Client ID and Secret for OAuth, but you will not need those for this assignment.**

To access the Yelp API, we will need to go through a few more steps than we did with the first NYT example. Most large web scale companies use a combination of authentication and rate limiting to control access to their data to ensure that everyone using it abides. The first step (even before we make any request) is to setup a Yelp account if you do not have one and get API credentials.

1. Create a [Yelp](https://www.yelp.com/login) account (if you do not have one already)
2. [Generate API keys](https://docs.developer.yelp.com/docs/fusion-authentication) (if you haven't already). You will only need the API Key (not the Client ID or Client Secret) -- more on that later.

Now that we have our accounts setup we can start making requests!

### Question 2.2: Authenticated HTTP Request with the Yelp API **(15%)**



First, store your Yelp credentials in a local file (kept out of version control) which you can read in to authenticate with the API. This file can be any format/structure since you will fill in the function stub below.

For example, you may want to store your key in a file called `yelp_api_key.txt` (run in terminal):
```bash
echo 'YOUR_YELP_API_KEY' > yelp_api_key.txt
```
if you are using google colab: Run this in a cell:
```bash
!echo 'YOUR_YELP_API_KEY' > yelp_api_key.txt
```

**KEEP THE API KEY FILE PRIVATE AND OUT OF VERSION CONTROL (and definitely do not submit them to Gradescope!)**

You can then read from the file using:

In [888]:
%%capture
#using above to hide the output of cell, to keep authorization header safe.
with open('yelp_api_key.txt', 'r') as f:
    api_key = f.read().replace('\n','')
    print(api_key)
    # verify your api_key is correct
# DO NOT FORGET TO CLEAR THE OUTPUT TO KEEP YOUR API KEY PRIVATE

In [889]:
def read_api_key(filepath):
    """
    Read the Yelp API Key from file.

    Args:
        filepath (string): File containing API Key
    Returns:
        api_key (string): The API Key
    """

    # feel free to modify this function if you are storing the API Key differently
    with open(filepath, 'r') as f:
        return f.read().replace('\n','')

Using the Yelp API, fill in the following function stub to make an authenticated request to the [search](https://docs.developer.yelp.com/reference/v3_business_search) endpoint. Remember Yelp allows you to pass the API Key via a special HTTP Header: `Authorization: Bearer <API_KEY>`. Check out the [docs](https://docs.developer.yelp.com/docs/fusion-authentication) for more information.

In [890]:
def location_search_params(api_key, location, **kwargs):
    """
    Construct url, headers and url_params. Reference API docs (link above) to use the arguments
    """
    # [YOUR CODE HERE]    
    # What is the url endpoint for search?

    url = 'https://api.yelp.com/v3/businesses/search'
    # How is Authentication performed?
    headers = {"accept": "application/json", "Authorization": f"Bearer {api_key}"}
    # SPACES in url is problematic. How should you handle location containing spaces?
    # I can use strip to remove leading and tailing spaces.
    url_params = {"location":location}
    # Include keyword arguments in url_params
    url_params = url_params | kwargs
    # print(url_params)

    return url, headers, url_params

Hint: `**kwargs` represent keyword arguments that are passed to the function. For example, if you called the function `location_search_params(api_key, location, offset=0, limit=50)`. The arguments `api_key` and `location` are called *positional arguments* and key-value pair arguments are called **keyword arguments**. Your `kwargs` variable will be a python dictionary with those keyword arguments.

In [891]:
# Test your code here to receive credit.
api_key = "test_api_key_xyz"
location = "Chicago"
url, headers, url_params = location_search_params(api_key, location, offset=0, limit=50)
url, headers, url_params
# ('https://<hidden_url_check_search_endpoint_docs_to_get_answer>',
#  {'Authorization': 'Bearer test_api_key_xyz'},
#  {'location': 'Chicago', 'offset': 0, 'limit': 50})

('https://api.yelp.com/v3/businesses/search',
 {'accept': 'application/json', 'Authorization': 'Bearer test_api_key_xyz'},
 {'location': 'Chicago', 'offset': 0, 'limit': 50})

Now use `location_search_params(api_key, location, **kwargs)` to actually search restaurants from Yelp API. Most of the code is provided to you. Complete the `api_get_request` function given below.

In [892]:
def api_get_request(url, headers, url_params):
    """
    Send a HTTP GET request and return a json response

    Args:
        url (string): API endpoint url
        headers (dict): A python dictionary containing HTTP headers including Authentication to be sent
        url_params (dict): The parameters (required and optional) supported by endpoint

    Returns:
        results (json): response as json
    """
    http_method = 'GET'
    # See requests.request?
    # [YOUR CODE HERE]
    response = requests.get(url, headers=headers, params=url_params)
    return response.json()


def yelp_search(api_key, location, offset=0):
    """
    Make an authenticated request to the Yelp API.

    Args:
        api_key (string): Your Yelp API Key for Authentication
        location (string): Business Location
        offset (int): param for pagination

    Returns:
        total (integer): total number of businesses on Yelp corresponding to the location
        businesses (list): list of dicts representing each business
    """
    url, headers, url_params = location_search_params(api_key, location, offset=0)
    response_json = api_get_request(url, headers, url_params)
    return response_json["total"], list(response_json["businesses"])

# test your code here to receive credit
# [YOUR CODE HERE]
api_key = read_api_key("yelp_api_key.txt")
num_records, data = yelp_search(api_key, 'Chicago')
print(num_records)
#9000
print(len(data))
#20
print(list(map(lambda x: x['name'], data)))
#['Girl & The Goat', 'Wildberry Pancakes and Cafe', 'Au Cheval', 'The Purple Pig', "Lou Malnati's Pizzeria", 'Art Institute of Chicago', "Bavette's Bar & Boeuf", 'Cafe Ba-Ba-Reeba!', 'Smoque BBQ', 'Little Goat Diner', "Pequod's Pizzeria", 'Alinea', 'Quartino Ristorante', "Kuma's Corner - Belmont", "Joe's Seafood, Prime Steak & Stone Crab", 'Crisp', "Portillo's Hot Dogs", 'Sapori Trattoria', 'Xoco', "Molly's Cupcakes"]

11200
20
['Girl & The Goat', 'Au Cheval', 'The Purple Pig', 'Aba', 'Cafe Ba-Ba-Reeba!', 'Wildberry Pancakes and Cafe', 'Boka', 'Penumbra', 'Alinea', 'Trivoli Tavern', 'etta - Bucktown', "Pequod's Pizza", 'S.K.Y.', 'Rose Mary', "Bavette's Bar & Boeuf", 'The Dearborn', 'Prime & Provisions Steakhouse', 'Ema', 'Kasama', 'Bloom Plant Based Kitchen']

### Parameterization and Pagination

Now that we have completed the "hello world" of working with the Yelp API, we are ready to really fly! The rest of the exercise will have a bit less direction since there are a variety of ways to retrieve the requested information but you should have all the component knowledge at this point to work with the API. Yelp being a fairly general platform actually has many more business than just restaurants, but by using the flexibility of the API we can ask it to only return the restaurants.



And before we can get any reviews on restaurants, we need to actually get the metadata on ALL of the restaurants in Chicago. Notice above that while Yelp told us that there are ~240, the response contained fewer actual `Business` objects. This is due to pagination and is a safeguard against returning __TOO__ much data in a single request (what would happen if there were 100,000 restaurants?) and can be used in conjuction with _rate limiting_ as well as a way to throttle and protect access to Yelp data.

> As a thought exercise, consider: If an API has 1,000,000 records, but only returns 10 records per page and limits you to 5 requests per second... how long will it take to acquire ALL of the records contained in the API?

One of the ways that APIs are an improvement over plain web scraping is the ability to make __parameterized__ requests. Just like the Python functions you have been writing have arguments (or parameters) that allow you to customize its behavior/actions (an output) without having to rewrite the function entirely, we can parameterize the queries we make to the Yelp API to filter the results it returns.

### Question 2.3: Acquire all of the restaurants in Chicago on Yelp **(10%)**



Again using the [API documentation](https://docs.developer.yelp.com/reference/v3_business_search) for the `search` endpoint, fill in the following function to retrieve all of the _Restuarants_ (using categories) for a given query. Again you should use your `read_api_key()` function outside of the `all_restaurants()` stub to read the API Key used for the requests. You will need to account for __pagination__ and __[rate limiting](https://docs.developer.yelp.com/docs/fusion-faq)__ to:

1. Retrieve all of the Business objects (# of business objects should equal `total` in the response). **Paginate by querying 10 restaurants each request.**
2. Pause slightly (at least 200 milliseconds) between subsequent requests so as to not overwhelm the API (and get blocked).  

As always with API access, make sure you follow all of the [API's policies](https://www.yelp.com/developers/api_terms) and use the API responsibly and respectfully.

**DO NOT MAKE TOO MANY REQUESTS TOO QUICKLY OR YOUR KEY MAY BE BLOCKED**

In [893]:
import math

def paginated_restaurant_search_requests(api_key, location, total):
    """
    Returns a list of tuples (url, headers, url_params) for paginated search of all restaurants
    Args:
        api_key (string): Your Yelp API Key for Authentication
        location (string): Business Location
        total (int): Total number of items to be fetched
    Returns:
        results (list): list of tuple (url, headers, url_params)
    """
    # HINT: Use total, offset and limit for pagination
    # You can reuse function location_search_params(...)
    # [YOUR CODE HERE]
    limit = 10
    offset = 0
    requestList = []
    while total >offset:
        url, headers, url_params = location_search_params(
            api_key, location, 
            offset=offset, 
            limit=limit,
            categories='restaurants'
            )
        requestList.append((url, headers, url_params))
        offset += limit
        
    return requestList


# Test your code here to receive credit.
api_key = read_api_key("yelp_api_key.txt")
location = "Chicago"
all_restaurants_requests = paginated_restaurant_search_requests(api_key, location, 15)

#hiding the authorization header

[
    (url, {**headers, "Authorization": "Bearer XXX..."}, params)
    for url, headers, params in all_restaurants_requests
]

# [('https:<hidden>',
#   {'Authorization': 'Bearer test_api_key_xyz'},
#   {'location': 'Chicago',
#    'offset': 0,
#    'limit': 10,
#    'categories': '<hidden>'}),
#  ('https:<hidden>',
#   {'Authorization': 'Bearer test_api_key_xyz'},
#   {'location': 'Chicago',
#    'offset': 10,
#    'limit': 10,
#    'categories': '<hidden>'})]

[('https://api.yelp.com/v3/businesses/search',
  {'accept': 'application/json', 'Authorization': 'Bearer XXX...'},
  {'location': 'Chicago',
   'offset': 0,
   'limit': 10,
   'categories': 'restaurants'}),
 ('https://api.yelp.com/v3/businesses/search',
  {'accept': 'application/json', 'Authorization': 'Bearer XXX...'},
  {'location': 'Chicago',
   'offset': 10,
   'limit': 10,
   'categories': 'restaurants'})]

In [894]:
from time import sleep
def all_restaurants(api_key, location):
    """
    Construct the pagination requests for ALL the restaurants on Yelp for a given location.

    Args:
        api_key (string): Your Yelp API Key for Authentication
        location (string): Business Location

    Returns:
        results (list): list of dicts representing each restaurant
    """
    # What keyword arguments should you pass to get first page of restaurants in Yelp
    url, headers, url_params = location_search_params(api_key, location, offset=0, limit=10)
    #
    response_json = api_get_request(url, headers, url_params)
    # for 
    total_items = response_json["total"]

    all_restaurants_request = paginated_restaurant_search_requests(api_key, location, total_items)
     # Use returned list of (url, headers, url_params) and function api_get_request to retrive all restaurants
    # REMEMBER to pause slightly after each request.
    # [YOUR CODE HERE]
    #print(total_items)

      # List to store all restaurants
    respList = []

    # Iterate through all paginated requests and collect the restaurants
    for url, headers, query_params in all_restaurants_request:
        resp = api_get_request(url, headers, query_params)
        respList.extend(resp['businesses'])
        # respList.append(resp)
        # sleep function to sleep for 200ms after each request
        sleep(0.2)    

    return respList

You can test your function with an individual neighborhood in Chicago (for example, Greektown). Chicago itself has a lot of restaurants... meaning it will take a lot of time to download them all.

In [895]:
# test your function here to receive credit.
api_key = read_api_key('yelp_api_key.txt')
data = all_restaurants(api_key, 'Greektown, Chicago, IL')
print(len(data))
# 92
print(list(map(lambda x:x['name'], data)))
# ['Greek Islands Restaurant', 'Artopolis', 'Meli Cafe & Juice Bar', 'Athena Greek Restaurant', 'WJ Noodles', ...]

115
['Greek Islands Restaurant', 'Athena Greek Restaurant', 'Monteverde', 'CityBird', 'Green Street Smoked Meats', 'Trivoli Tavern', 'Xiâ€™an Cuisine', 'Rye Deli & Drink', 'El Che Steakhouse & Bar', 'Zeus Restaurant', 'Meli Cafe & Juice Bar', "Formento's", 'Sepia', 'Viaggio Ristorante & Lounge', 'Green Street Local', 'Tamashii Ramen', 'SUSHI DOKKU Japanese Restaurant', "Nancy's Pizza Chicago West Loop", 'The Allis', 'High Five Ramen', 'Suenos x Soho House', 'Primos Chicago Pizza', 'Booze Box', 'Spectrum Bar and Grill', '9 Muses', 'Swadesi Cafe', 'TenGoku Aburiya', 'Omakase Yume', 'J.P. Graziano Grocery', 'Lolaâ€™s Restaurant & Bar', "Nando's Peri-Peri", 'Tamu', "Lou Mitchell's", 'Mr Greek Gyros', 'Slightly Toasted', 'SGD Dubu So Gong Dong Tofu & Korean BBQ', 'Parlor Pizza Bar', 'Jubilee Juice & Grill', 'Ciao! Cafe & Wine Lounge', "Giordano's", 'Taco Burrito King - Greektown', "Philly's Best", "Nonna's Pizza & Sandwiches", 'Blaze Pizza', 'Taco LulÃº', 'Yolk West Loop', 'Tacombi', 'Xiâ€™an Cuisine - West Loop', 'Sushi Pink', 'Beggars Pizza', 'Stelios Bottles & Bites', "Wok N' Bao", 'Morgan Street Cafe', 'Dylans Tavern & Grill', 'Asadito', 'Prince St Pizza', "Jet's Pizza", 'Naf Naf Grill', 'K-Kitchen', 'I Dream of Falafel', 'Metro Spice Mart', "Sang's Kitchen", 'Subway', 'Crepe & Bean', 'Izakaya Yume', 'Klay Oven Kitchen', "Jimmy John's", 'Oki Sushi', "Domino's Pizza", 'Chipotle Mexican Grill', 'Five Guys', 'Red Star Bar', 'Potbelly Sandwich Shop', "Mac's Deli", 'Bonyeon', 'Taco Bell Cantina', 'Potbelly Sandwich Shop', 'Benchmark', "Sam's Crispy Chicken - West Loop", 'Hunan House', "Jimmy John's", 'Great Steak', "Harold's Chicken On Clinton", 'Burger King', 'Barrel Cafe', "Byrd's Hot Chicken", 'Dosbros Fresh Mexican Grill', 'Market Creations - Adams', 'Green Room', 'Start Sampling', 'Chopstix Express', 'Market Cocina', 'G L I Food Service', 'Cafe Italo', 'Pizza Villa & Cafe', 'Toreore', 'this little goat kitchen', 'West Loop Sandwich', "Uncle Tommy's BBQ", 'In a Bun', 'EL FOCO TACOS', 'Burger King', 'Marche', 'Kikka Sushi', 'Subway', 'Chopped Salad Bar', 'Kabob City', 'Wing Run', 'Spaketeria', 'Le Peep Grill', "Popeye's Famous Fried Chicken", 'Halsted Street Deli', 'Chi Town Sandwich', 'Flik International', 'Sweet Corner']

Now that we have the metadata on all of the restaurants in Greektown (or at least the ones listed on Yelp), we can retrieve the reviews and ratings. The Yelp API gives us aggregate information on ratings but it doesn't give us the review text or individual users' ratings for a restaurant. For that we need to turn to web scraping, but to find out what pages to scrape we first need to parse our JSON from the API to extract the URLs of the restaurants.

In general, it is a best practice to separate the act of __downloading__ data and __parsing__ data. This ensures that your data processing pipeline is modular and extensible (and autogradable ;). This decoupling also solves the problem of expensive downloading but cheap parsing (in terms of computation and time).


### Question 2.4: Parse the API Responses and Extract the URLs **(5%)**




Because we want to separate the __downloading__ from the __parsing__, fill in the following function to parse the URLs pointing to the restaurants on `yelp.com`. As input your function should expect a string of [properly formatted JSON](http://www.json.org/) (which is similar to __BUT__ not the same as a Python dictionary) and as output should return a Python list of strings. Hint: print your `data` to see the JSON-formatted information you have. The input JSON will be structured as follows :

```json
{
  "total": 8228,
  "businesses": [
    {
      "rating": 4,
      "price": "$",
      "phone": "+14152520800",
      "id": "four-barrel-coffee-san-francisco",
      "is_closed": false,
      "categories": [
        {
          "alias": "coffee",
          "title": "Coffee & Tea"
        }
      ],
      "review_count": 1738,
      "name": "Four Barrel Coffee",
      "url": "https://www.yelp.com/biz/four-barrel-coffee-san-francisco",
      "coordinates": {
        "latitude": 37.7670169511878,
        "longitude": -122.42184275
      },
      "image_url": "http://s3-media2.fl.yelpcdn.com/bphoto/MmgtASP3l_t4tPCL1iAsCg/o.jpg",
      "location": {
        "city": "San Francisco",
        "country": "US",
        "address2": "",
        "address3": "",
        "state": "CA",
        "address1": "375 Valencia St",
        "zip_code": "94103"
      },
      "distance": 1604.23,
      "transactions": ["pickup", "delivery"]
    }
  ],
  "region": {
    "center": {
      "latitude": 37.767413217936834,
      "longitude": -122.42820739746094
    }
  }
}
```

In [896]:
def parse_api_response(data):
    """
    Parse Yelp API results to extract restaurant URLs.

    Args:
        data (string): String of properly formatted JSON.

    Returns:
        (list): list of URLs as strings from the input JSON.
    """

    # [YOUR CODE HERE]
    formattedUrls = []
    
    for rest in data["businesses"]:
        formattedUrls.append(rest['url'])
    
    return formattedUrls


# test your code here to receive credit
url, headers, url_params = location_search_params(api_key, "Bridgeport, Chicago, IL", offset=0)
response_text = api_get_request(url, headers, url_params)
parse_api_response(response_text)
# ['https://www.yelp.com/biz/nana-chicago?adjust_creative=ioqEYAcUhZO272qCIvxcVA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=ioqEYAcUhZO272qCIvxcVA',
#  'https://www.yelp.com/biz/bridgeport-coffee-chicago-4?adjust_creative=ioqEYAcUhZO272qCIvxcVA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=ioqEYAcUhZO272qCIvxcVA',
# ...]

['https://www.yelp.com/biz/the-duck-inn-chicago?adjust_creative=WAZPdgnxPaRrs6C9blIDVg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=WAZPdgnxPaRrs6C9blIDVg',
 'https://www.yelp.com/biz/francos-ristorante-chicago?adjust_creative=WAZPdgnxPaRrs6C9blIDVg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=WAZPdgnxPaRrs6C9blIDVg',
 'https://www.yelp.com/biz/kimski-chicago?adjust_creative=WAZPdgnxPaRrs6C9blIDVg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=WAZPdgnxPaRrs6C9blIDVg',
 'https://www.yelp.com/biz/shinya-ramen-house-chicago-3?adjust_creative=WAZPdgnxPaRrs6C9blIDVg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=WAZPdgnxPaRrs6C9blIDVg',
 'https://www.yelp.com/biz/happy-lamb-hot-pot-bridgeport-chicago?adjust_creative=WAZPdgnxPaRrs6C9blIDVg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=WAZPdgnxPaRrs6C9blIDVg',
 'https://www.yelp.com/biz/taipei-cafe-chicago?adjust_creative=WAZPdgnxPaRrs6C9blIDVg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=WAZPdgnxPaRrs6C9blIDVg',
 'https://www.yelp.com/biz/mins-noodle-house-%E6%B8%94%E5%AE%B6%E9%87%8D%E5%BA%86%E5%B0%8F%E9%9D%A2-chicago-32?adjust_creative=WAZPdgnxPaRrs6C9blIDVg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=WAZPdgnxPaRrs6C9blIDVg',
 'https://www.yelp.com/biz/han-202-chicago?adjust_creative=WAZPdgnxPaRrs6C9blIDVg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=WAZPdgnxPaRrs6C9blIDVg',
 'https://www.yelp.com/biz/stix-n-brix-pizza-cafe-chicago-2?adjust_creative=WAZPdgnxPaRrs6C9blIDVg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=WAZPdgnxPaRrs6C9blIDVg',
 'https://www.yelp.com/biz/antique-taco-chicago-7?adjust_creative=WAZPdgnxPaRrs6C9blIDVg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=WAZPdgnxPaRrs6C9blIDVg',
 'https://www.yelp.com/biz/greek-prime-kitchen-and-bar-chicago?adjust_creative=WAZPdgnxPaRrs6C9blIDVg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=WAZPdgnxPaRrs6C9blIDVg',
 'https://www.yelp.com/biz/el-taco-azteca-bridgeport-chicago-2?adjust_creative=WAZPdgnxPaRrs6C9blIDVg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=WAZPdgnxPaRrs6C9blIDVg',
 'https://www.yelp.com/biz/s-k-y-chicago-5?adjust_creative=WAZPdgnxPaRrs6C9blIDVg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=WAZPdgnxPaRrs6C9blIDVg',
 'https://www.yelp.com/biz/pleasant-house-pub-chicago-3?adjust_creative=WAZPdgnxPaRrs6C9blIDVg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=WAZPdgnxPaRrs6C9blIDVg',
 'https://www.yelp.com/biz/qing-xiang-yuan-dumplings-chicago-3?adjust_creative=WAZPdgnxPaRrs6C9blIDVg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=WAZPdgnxPaRrs6C9blIDVg',
 'https://www.yelp.com/biz/bad-owl-coffee-roasters-chicago?adjust_creative=WAZPdgnxPaRrs6C9blIDVg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=WAZPdgnxPaRrs6C9blIDVg',
 'https://www.yelp.com/biz/zaytune-mediterranean-grill-chicago-4?adjust_creative=WAZPdgnxPaRrs6C9blIDVg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=WAZPdgnxPaRrs6C9blIDVg',
 'https://www.yelp.com/biz/qiao-lin-hotpot-chicago-chinatown-chicago?adjust_creative=WAZPdgnxPaRrs6C9blIDVg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=WAZPdgnxPaRrs6C9blIDVg',
 'https://www.yelp.com/biz/jackalope-coffee-and-tea-house-chicago?adjust_creative=WAZPdgnxPaRrs6C9blIDVg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=WAZPdgnxPaRrs6C9blIDVg',
 'https://www.yelp.com/biz/el-ideas-chicago-2?adjust_creative=WAZPdgnxPaRrs6C9blIDVg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=WAZPdgnxPaRrs6C9blIDVg']

As we can see, JSON is quite trivial to parse (which is not the case with HTML as we will see in a second) and work with programmatically. This is why it is one of the most ubiquitous data serialization formats (especially for ReSTful APIs) and a huge benefit of working with a well defined API if one exists. But APIs do not always exists or provide the data we might need, and as a last resort we can always scrape web pages...

### Working with Web Pages (and HTML)

Think of APIs as similar to accessing an application's database itself (something you can interactively query and receive structured data back). But the results are usually in a somewhat raw form with no formatting or visual representation (like the results from a database query). This is a benefit _AND_ a drawback depending on the end use case. For data science and _programatic_ analysis this raw form is quite ideal, but for an end user requesting information from a _graphical interface_ (like a web browser) this is very far from ideal since it takes some cognitive overhead to interpret the raw information. And vice versa, if we have HTML it is quite easy for a human to visually interpret it, but to try to perform some type of programmatic analysis we first need to parse the HTML into a more structured form.

> As a general rule of thumb, if the data you need can be accessed or retrieved in a structured form (either from a bulk download or API) prefer that first. But if the data you want (and need) is not as in our case we need to resort to alternative (messier) means.

Going back to the "hello world" example of question 2.1 with the NYT, we will do something similar to retrieve the HTML of the Yelp site itself (rather than going through the API programmatically) as text.
> However, we will use saved HTML pages to reduce excessive traffic to the Yelp website.

### Question 2.5: Parse a Yelp restaurant Page **(10%)**

Using `BeautifulSoup`, parse the HTML of a single Yelp restaurant page to extract the reviews in a structured form as well as the URL to the next page of reviews (or `None` if it is the last page). Fill in following function stubs to parse a single page of reviews and return:
* the reviews as a structured Python dictionary
* the HTML element containing the link/url for the next page of reviews (or None).

For each review be sure to structure your Python dictionary as follows (to be graded correctly). The order of the keys doesn't matter, only the keys and the data type of the values:

```python
{
    'author': str
    'rating': float
    'date': str ('yyyy-mm-dd')
    'description': str
}

{
    'author': 'Topsy Kretts'
    'rating': 4.7
    'date': '2016-01-23'
    'description': "Wonderful!"
}
```

There can be issues with Beautiful Soup using various parsers, for maximum compatibility (and fewest errors) initialize the library with the default (and Python standard library parser): `BeautifulSoup(markup, "html.parser")`.

Most of the function has been provided to you:

In [897]:
url_lookup = {
"https://www.yelp.com/biz/the-jibarito-stop-chicago-2?start=225":"parse_page_test1.html",
"https://www.yelp.com/biz/the-jibarito-stop-chicago-2?start=245":"parse_page_test2.html"
}


def html_fetcher(url):
    """
    Return the raw HTML at the specified URL.
    Args:
        url (string):

    Returns:
        status_code (integer):
        raw_html (string): the raw HTML content of the response, properly encoded according to the HTTP headers.
    """
    html_file = url_lookup.get(url)
    with open(html_file, 'rb') as file:
        html_text = file.read()
        return 200, html_text


def parse_page(html):
    """
    Parse the reviews on a single page of a restaurant.

    Args:
        html (string): String of HTML corresponding to a Yelp restaurant

    Returns:
        tuple(list, string): a tuple of two elements
            first element: list of dictionaries corresponding to the extracted review information
            second element: URL for the next page of reviews (or None if it is the last page)
    """
    soup = BeautifulSoup(html,'html.parser')
    url_next = soup.find('link',rel='next')
    if url_next:
        url_next = url_next.get('href')
    else:
        url_next = None

    reviews = soup.find_all('div', itemprop="review")
    reviews_list = []
    # review_containers = soup.find_all('div', itemprop="review")
    # HINT: print reviews to see what http tag to extract
    # [YOUR CODE HERE]
    for review in reviews:
        reviewer_name = review.find('meta', itemprop ='author')['content']
        rating = review.find('meta', itemprop ='ratingValue')['content']
        date_posted = review.find('meta', itemprop ='datePublished')['content']
        description = review.find('p', itemprop='description').text.strip()

        reviews_list.append({
            'reviewer': reviewer_name,
            'rating': float(rating),
            'date': date_posted,
            'review_text': description
        })

    return reviews_list, url_next
    # return reviews_list, url_next


# Test your implementation here to receive credit.
code, html = html_fetcher("https://www.yelp.com/biz/the-jibarito-stop-chicago-2?start=225")
reviews_list, url_next = parse_page(html)
print(len(reviews_list)) # 20
print(url_next) #https://www.yelp.com/biz/the-jibarito-stop-chicago-2?start=245

20
https://www.yelp.com/biz/the-jibarito-stop-chicago-2?start=245

### Question 2.6: Extract all Yelp reviews for a Single Restaurant **(5%)**



So now that we have parsed a single page, and figured out a method to go from one page to the next we are ready to combine these two techniques and actually crawl through web pages!

Using the provided `html_fetcher` (for a real use-case you would use `requests`), programmatically retrieve __ALL__ of the reviews for a __single__ restaurant (provided as a parameter). Just like the API was paginated, the HTML paginates its reviews (it would be a very long web page to show 300 reviews on a single page) and to get all the reviews you will need to parse and traverse the HTML. As input your function will receive a URL corresponding to a Yelp restaurant. As output return a list of dictionaries (structured the same as question 2.5) containing the relevant information from the reviews. You can use `parse_page()` here.

In [898]:
def extract_reviews(url, html_fetcher):
    """
    Retrieve ALL of the reviews for a single restaurant on Yelp.

    Parameters:
        url (string): Yelp URL corresponding to the restaurant of interest.
        html_fetcher (function): A function that takes url and returns html status code and content

    Returns:
        reviews (list): list of dictionaries containing extracted review information
    """
    review_list = []

    while url:
        status, html_text = html_fetcher(url)
        reviews = []
        # [YOUR CODE HERE]
        # HINT: Use function `parse_page(html)` multiple times until no next page exists
        reviews, next_url = parse_page(html_text)    
        url = next_url
        review_list.extend(reviews)

    return review_list

You can test your function with this code:

In [899]:
# test your function here to receive credit.
data = extract_reviews('https://www.yelp.com/biz/the-jibarito-stop-chicago-2?start=225', html_fetcher=html_fetcher)
print(len(data))
# 35
print(data[0])

# {'author': 'Jason S.', 'rating': 5.0, 'date': '2016-05-02', 'description': "This was one of my favorite food trucks ..."}

35
{'reviewer': 'Jason S.', 'rating': 5.0, 'date': '2016-05-02', 'review_text': "This was one of my favorite food trucks but as of last fall they've opened a brick and mortar restaurant in the Pilsen neighborhood...the perfect success story of how a person can start out with a food truck and grow their business into a restaurant. The food is always delicious and the service is great!"}

## Submission

You're almost done!

After executing all commands and completing this notebook, export/convert your *hw1.ipynb* as a **pdf** file and upload it to Gradescope under *Homework 1 (pdf)*. Make sure you check that your **pdf** file includes all parts of your solution **(including the outputs)**. Check `warmup.pdf` for an example of expected submission file. Also make sure to upload the **ipynb** file with output visible in the cells to the *Homework 1 (code)* section.

Again, please make sure your submitted file is a **pdf** file or it will not be graded.